@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

a{
    text-decoration: none;
    color: #000;
}

.login {
    margin-top: 80px;
}

/* .form-control {
    width: 400px;
} */

.form-section {
    margin: 0 40px 0;
    padding: 20px;
}

.button-skyblue {
    background-color: #37B8EE;
    color: #fff;
    border: 0;
}

.button-skyblue:hover {
    background-color: #37B8EE;
    color: #fff;
    border: 0;
}

.form-check-input:checked {
    background-color: #37B8EE;
    border-color: #37B8EE;
}


/* SignUp-Form-Design */

.full-part img {
    height: 70%;
    width: 100%;

}

.full-part {
    margin-top: 3%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    border-radius: 50px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 40px;
    padding-bottom: 10px;
    background-color: #3777ee;
    border-radius: 10px;
}

h3 {
    text-align: center;
}



.signup-under {
    text-align: center;
}

.signup-under a {
    text-decoration: none;
} 